:root{
    font-family: "Rubik", sans-serif;
    color: #B5838D;
}


section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;

    /* background-color:#FFB4A2; */
}


.underline{
    text-decoration: underline;
}

h1{
    font-size:60px;
}

header{
    font-weight: 700;
}

body{
    text-align: center;
    background-color: #FFCDB2;
    background-image:  linear-gradient(rgba(230, 203, 203, 0.4),rgba(231, 186, 160, 0.856));
}
ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    margin-right: 30px;
}
.facts{
    background-color:#FFB4A2;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 18px 20px #B5838D;
}
img{
    max-height: 250px;
    margin-top: 20px;
}

.header{
    font-size: 40px;
}

.second{
    display:flex;
    /* background-color: #E5989B; */
    color:#FFCDB2;
    border-radius: 50%;
    padding: 10px;
    gap: 10px;
    box-shadow: 0 75px #B5838D;
}

.bg{
    background-color: #E5989B; 
    border-radius: 5px;
    transition: transform 0.2s ease-in-out,background-color 0.2s ease-in;
    cursor:pointer;
}

.bg:hover{
    color:#B5838D;
    background-color:#FFCDB2;
    transform: scale(1.1);
}

p{
    font-size: 20px;
}

img{
    margin-top: 3rem;
    border-radius: 50%;
    border: 10px solid #B5838D;
}